<h2>Confirmação de cadastro de usuário</h2>

<strong> Bem vindo {{ username }}.</strong>

<p>Você criou nova conta, para confirmar o cadastro clique no link abaixo</p>

<strong><a href="{{ link }}">CONFIRMAR CADASTRO</a></strong>