<h2>Confirmação de cadastro de usuário</h2>

<strong> Bem vindo {{ username }}.</strong>

<p>Você acabou de gerar uma nova solicitação para confirmar o cadastro, clique no link abaixo</p>

<small>Esse link é valido como confirmação de cadastro, caso expire o token</small>
<br>
<br>

<strong><a href="{{ link }}">CONFIRMAR CADASTRO</a></strong>